*,
html,
body {
  margin: 0;
}
header {
  flex-direction: column;
}
header,
.hero {
  background-color: #a306b6;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-evenly;
  padding-bottom: 1rem;
}

footer {
  background-color: #d9d9d9;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  margin-top: 2rem;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 1rem;
}
nav img {
  width: 4rem;
}
nav div {
  display: flex;
  justify-content: space-evenly;
  color: white;
  width: 30%;
}

.avatar {
  height: 25vh;
  background-color: white;
  border-radius: 50%;
  padding: 0.25rem;
}

.gridRecentArticles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.articles {
  background-color: #d9d9d9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10px;
  padding: 20px;
  border-radius: 15px;
}
main p {
  margin: 1rem 25%;
}
button {
  background-color: #a306b6;
  color: white;
  padding: 1rem;
  border-radius: 25px;
  padding-left: 2rem;
  padding-right: 2rem;
}
p {
  font-size: 1em;
  line-height: 1.5em;
  margin-bottom: 1em;
}
h1 {
  color: white;
  font-size: 4rem;
}
h2 {
  text-align: center;
  color: #a306b6;
  font-size: 2rem;
  margin: 4rem;
}
h3 {
  font-size: 2rem;
  margin: 2rem;
}

h3 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
p,
a {
  font-family: "Source Sans 3", sans-serif;
}

.recentArticles {
  flex-wrap: wrap;
}
.articles {
  width: clamp(300px, 30%, 400px);
  height: clamp(300px, 30%, 400px);
}
.imgArticle {
  width: clamp(200px, 6em, 400px);
  aspect-ratio: 1;
}
main {
  display: flex;
  flex-direction: column;
}

@media (max-width: 992px) {
  header {
    display: flex;
  }
  nav {
    flex-direction: column;
  }
  main p {
    margin: 1rem 2rem;
  }
  nav div {
    margin: 1rem;
    width: 100%;
  }
}
